body {
	font-family: Verdana;
	color: white;
	background: #000000;
}

#header, #footer {
	font-family: "Lucida Grande", Tahoma;
	font-weight: lighter;
	font-variant: normal;
	color: #fd869a;
	padding-top: 100px;
	vertical-align: middle !important;
	height: 75px;
}

#header {
	font-size: 2.8em;
	text-transform: uppercase;
	text-align: left !important;
	padding-bottom: 25px;
}

#footer {
	font-size: 1.5em;
	text-align: center !important;
}

#title {
	font-size: 5.9em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
	font-variant: normal;
	color: #d8d6d7;
	text-align: center !important;
	
}

#subtitle {
	font-size: 3.5em;
	font-family: "Lucida Grande", Tahoma;
	font-style: italic;
	color: #cccccc;
	padding-right: 40px;
	text-align: right !important;
	padding-top: 50px;

}

#body {
	font-size: 3.2em;
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-style: italic;
	color: #999999;
	padding-top: 100px;
}



/* borders (temporary) */
/*
#header {
	border: red 2px solid;
}

#title {
	border: blue 2px solid;
}

#subtitle {
	border: green 2px solid;
}

#footer {
	border: yellow 2px solid;
}
*/