#banner .BMS {font-size: 18px; color: #999999;}
#banner {
	position: absolute;
	top:0px;
	right:0px;
	text-align:middle;

	width: 200px;
	height: 175px;
}

#bigbanner .BMS {font-size: 86px; color: #eeeeee;}
#bigbanner {
	position: absolute;
	top: 0px;
	width: 100%;
	text-align:middle;
	margin-left: auto;
	margin-right: auto;
}
